h1 {
    text-align: center;
}

.owners-registration .form-control {
    display: inline-block;
    width: 47%;
    margin: 1%;
}

#registerButton {
    display: block;
    margin: 0 auto 25px;
    width: 50%;
}

#register_new_pet {
    margin: 20px 0;
}

#register_a_pet .form-control {
    margin-bottom: 20px;
    width: 50%;
}

.small-title {
    display: block;
    font-size: 20px;
}

.custom-select {
    margin-bottom: 20px;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    transform: all 300ms;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255,255,255,0.75);
}